[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "phyloregion"]
	path = phyloregion
	url = https://github.com/darunabas/phyloregion
	shallow = true
	registered = true
[submodule "predicts"]
	path = predicts
	url = https://github.com/rspatial/predicts
	shallow = true
	registered = false
