[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "phyloregion"]
	path = phyloregion
	url = https://github.com/darunabas/phyloregion
